menuconfig THINGSBOARD
    bool "Thingsboard library"
    depends on NETWORKING
    depends on NET_IPV4
    depends on NET_SOCKETS
    depends on JSON_LIBRARY
    depends on COAP

if THINGSBOARD

config THINGSBOARD_FOTA
    bool "Thingsboard FOTA support"
    depends on DFU_TARGET_MCUBOOT
    default y if DFU_TARGET_MCUBOOT

config APP_MCUBOOT_FLASH_BUF_SZ
    int "Size of buffer used for flash write operations during MCUboot updates"
    depends on DFU_TARGET_MCUBOOT
    default 4096
    help
      Buffer size must be aligned to the minimal flash write block size.

config COAP_CLIENT_NUM_MSGS
    int "Maximum number of CoAP messages"
    default 10

config COAP_CLIENT_STAT_INTERVAL_SECONDS
    int "Interval in seconds between stat printouts"
    default 30 if LOG
    default 0
    help
      Prints out statistics about resource usage on a regular interval.
      Set to 0 to deactivate.

config COAP_CLIENT_MSG_LEN
    int "Maximum length of CoAP messages"
    default 1280

config THINGSBOARD_SERDE_BUFFER_SIZE
    int "Serilization buffer size"
    default 1024

config COAP_NUM_RETRIES
    int "Number of retries for CoAP messages"
    default 3

config THINGSBOARD_USE_PROVISIONING
    bool "Provision devices"
    depends on SETTINGS
    depends on FLASH
    depends on FLASH_MAP
    depends on NVS
    depends on !THINGSBOARD_DTLS
    default y

if THINGSBOARD_USE_PROVISIONING

config THINGSBOARD_PROVISIONING_KEY
    string "Provisioning key"

config THINGSBOARD_PROVISIONING_SECRET
    string "Provisioning secret"

endif # THINGSBOARD_USE_PROVISIONING

config THINGSBOARD_ACCESS_TOKEN
  string
  prompt "Device Access Token" if !THINGSBOARD_USE_PROVISIONING
  default ""

config THINGSBOARD_TIME
    bool "Time Synchronization"
    default y
    help
      Use the RPC mechanism to request time from thingsboard instance.
      For this to work, the serverside RPC function `getCurrentTime` must be
      implemented.

if THINGSBOARD_TIME

config THINGSBOARD_TIME_REFRESH_INTERVAL_SECONDS
    int "Interval in seconds between time refresh"
    default 3600

endif # THINGSBOARD_TIME

if THINGSBOARD_FOTA

config THINGSBOARD_FOTA_CHUNK_SIZE
    int "Chunk size for FOTA updates"
    default 1024
    help
       Must be smaller than COAP_CLIENT_MSG_LEN

endif # THINGSBOARD_FOTA

config THINGSBOARD_MAX_STRINGS_LENGTH
    int "Max strings length"
    default 24
    help
      Maximum length of strings such as `fw_title` and `fw_version`.

config THINGSBOARD_MAX_TELEMETRY_PER_MESSAGE
    int "Max count of telemetries per message"
    default 16

choice THINGSBOARD_CONTENT_FORMAT
    bool "Content format"
    default THINGSBOARD_CONTENT_FORMAT_JSON

config THINGSBOARD_CONTENT_FORMAT_JSON
    bool "JSON"
    depends on JSON_LIBRARY

config THINGSBOARD_CONTENT_FORMAT_PROTOBUF
    bool "Protobuf"
    depends on NANOPB

endchoice # THINGSBOARD_CONTENT_FORMAT

if THINGSBOARD_CONTENT_FORMAT_PROTOBUF

config THINGSBOARD_PROTOBUF_CUSTOM_PROTO_FILE
    bool "Use custom protobuf schema file"
    default n
    help
      Application provides its own protobuf schema.

      The application is expected to call `thingsboard_set_protofile()` in its
      CMakeLists.txt file.

config THINGSBOARD_PROTOBUF_ATTRIBUTES_WORKAROUND_DEFAULT
    bool "Protobuf attributes parsing workaround"
    default y
    help
      Thingsboard seems to ignore the given protobuf schema for attributes
      downstream messages and instead returns an internal protobuf object of
      type `AttributeUpdateNotificationMsg`. This option makes the
      Thinksboard SDK parse attribute downstream messages always as to be in
      this format.

endif # THINGSBOARD_CONTENT_FORMAT_PROTOBUF

config THINGSBOARD_DTLS
    bool "Use DTLS"
    default n
    help
      Enables the use of DTLS. The thingsboard SDK expects to be given
      security tags by the application. These tags should contain the used CA
      certificate, as well as the client certificate and key. Only certificate
      authentication is supported.

config THINGSBOARD_TELEMETRY_ALWAYS_TIMESTAMP
    bool "Always send timestamp with telemetry"
    default y
    depends on THINGSBOARD_TIME
    help
      When enabled, thingsboard always adds timestamp to telemetry data.

module = THINGSBOARD
module-str = Thingsboard SDK
source "subsys/logging/Kconfig.template.log_config"

endif # THINGSBOARD
